* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quienes-somos,
#por-que-elegirnos,
#propuesta,
#Noticias {
    padding-top: 10vh;
}

/* tipografias */
.texto{
    font-family: 'Belanosima', sans-serif;
    color: #00425A;
    
}
.titulos{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #FC7300;
}

/* header */

.navbar {
    background-color: #1F8A70;
    color: #EFF5F5;
}
.nav-link,
.navbar-nav .nav-link.active {
    font-family: 'Poppins', sans-serif;
    color: #EFF5F5;
}

.nav-link:hover,
.navbar-nav .nav-link.active:hover {
    color: #FC7300 ;
}

/* propuesta educativa */

.card-group{
    margin: 8vh 3vw 8vh 3vw;
}

.propuesta-educativa .card {
    box-shadow: 0 0 10px rgba(250, 112, 0, 0.6);
    padding: 1vh;
}
.propuesta-educativa p{
    color: #181823;
    font-family: 'Poppins', sans-serif;
}

/* noticias */
#Noticias p{
    color: #181823;
    font-family: 'Belanosima', sans-serif;
}

/* footer */

.redessociales {
    margin-top: 100px;

}
ol,
ul {
  padding-left: 0px;
}
.redessociales li {
    display: inline-block;
    margin-left: 10px;
    left: 0;
}
.redessociales li i {
    font-size: 30px;
}
.footer{
    background-color:#00425A ;

}
.footer-contenedor{
   color: #EFF5F5;
   padding-top: 40px;
   padding-bottom: 40px;
}

/* contacto */

#seccion_formulario {
    background-color: #EFF5F5;
    padding-top: 14vh;
    padding-bottom: 14vh;
}
#seccion_formulario input:not(textarea) {
    height: 40px;
}
#seccion_formulario .boton {
    padding-top: 20px;
}
#seccion_formulario label {
    color: #1F8A70 ;
    font-weight: bold;
}

#seccion_formulario .logo img{
        width:  286px;
        margin-bottom: 15vh;   
        box-shadow: 0 0 10px rgba(250, 112, 0, 0.6);     
}
#seccion_formulario .form-control{
    border-radius: 20px;     
}
#seccion_formulario button.btn {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00425A;
    border-radius: 20px;  
}


